<ion-view view-title="Calendar Events" name="dashboard-view" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-refresh" ng-click="refresh()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon-right ion-power" ng-click="logout()"></button>
  </ion-nav-buttons>
  
  <ion-content class="padding">
    <div class="row">
      <div class="col text-center">
        <button class="button button-balanced" ng-click="createEvent()">Create an Event</a></button>
      </div>
    </div>
    <div class="list">
      
      <div class="list card" ng-repeat="item in model.invites">
        <div class="item item-divider">{{item.name}}</div>
        <div class="item item-body">
          <h2>Date and Location</h2>
          <p>{{item.date}}<br>{{item.location}}</p>

          <h2>Description</h2>
          <p>{{item.description}}</p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a ng-click="acceptInvite(item.id)" href="" class="tab-item">
            <i class="icon ion-android-done"></i>
            Accept
          </a>
          <a ng-click="declineInvite(item.id)" href="" class="tab-item">
            <i class="icon ion-android-close"></i>
            Decline
          </a>
        </div>
      </div>

      <div class="item item-divider">My Events</div>
      <a class="item item-button-right item-avatar" ng-repeat="item in model.events | orderBy: 'startDate'">
        <img ng-src="{{item.avatar}}" ng-click="loadMapPicker(item.location)">
        <button ng-hide="item.isFinalized || username!==item.host || item.type!=='wesync'"class="button button-balanced" ng-click="findTime(item.id)">
          find time
        </button>
        <h2>{{item.name}}</h2>
        <p ng-show="item.description">Description: {{item.description}}</p>
        <p ng-hide="item.type==='wesync' || !item.location">Location: {{item.location}}</p>
        <p ng-hide="item.type==='wesync' && !item.isFinalized">Date: {{item.startDate | date:'short'}}</p>
        <p ng-show="item.type==='wesync'">Guests: <b>{{item.confirmedInvitees.join(', ')}}</b> {{item.invitees.join(', ')}}</p>
      </a>

    </div>

  </ion-content>
</ion-view>
