<ion-view view-title="Friends" name="dashboard-view">
  <ion-content class="padding">
    <ion-list>
    	<ion-item ng-repeat="friend in friends">
    		<h2>{{friend.first}} {{friend.last}}</h2>
    		<ion-option-button class="button-assertive" ng-click="deleteContact()">
    			Delete
    		</ion-option-button>
    	</ion-item>
    </ion-list>
  </ion-content>
  <div class="float-button">
  	<span class="height-fix">
    	<a ui-sref="add-trip" class="content">
      		<i class="ion-android-add"> </i>
   		</a>
  </span>
</div>
</ion-view>
