<ion-view view-title="Friends" name="dashboard-view" cache-view="false">
  <ion-content >
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type a username" ng-model="data.friendUsername">
      </label>
      <button class="button button-balanced button-small" ng-click="addFriend(data.friendUsername)">
        Add Friend
      </button>
    </div>
    <ion-list>
    	<ion-item ng-repeat="friend in model.friends">
    		<h2>{{friend}}</h2>
    		<ion-option-button class="button-assertive" ng-click="removeFriend(friend)">
    			Delete
    		</ion-option-button>
    	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
