<ion-view view-title="Settings" name="dashboard-view">
  <ion-content class="padding">
      <div class="row">
      	<div class="col text-center">
      		<h3 class="title">Settings</h3>
      	</div>
      </div>
      <div class="row">
      	<div class="col text-center">
          <button class="button button-positive" ng-click="linkFB()">
			  Link my Facebook Events
			    </button>
		    </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button class="button button-balanced" ng-click="getStatus()">
        Get my facebook status
          </button>
        </div>
      </div>
  	  <div class="row">
        <div class="col text-center">
    			<button class="button button-assertive" ng-click="linkGoogle()">
    			  Link my Google Calendar Events
    			</button>
  		  </div>
      </div>
  </ion-content>
</ion-view>
