# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
temp/
*.DS_Store
*.log
*.swp


# Java

*.class

# maven output
target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE project files for Eclipse/Intellij
.project
.classpath
.settings/
.idea/
*.iml
*.ipr
