<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Facebook</title>
</head>
<body>
<h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3>
<br/>
Email: <span th:text="${facebookProfile.email}">some email</span>
<br/>
Events you're attending:
<ul class="friends">
    <li th:each="event : ${events}"><span th:text="${event.name}">some event</span></li>
</ul>

<!--<h4>Here is your home feed:</h4>

<div th:each="post:${feed}">
    <b th:text="${post.from.name}">from</b> wrote:
    <p th:text="${post.message}">message text</p>
    <img th:if="${post.picture}" th:src="${post.picture}"/>
    <hr/>
</div>-->

<!--<div id="content" layout:fragment="content">
    <h3>Your Facebook Friends</h3>

    <ul class="friends">
        <li th:each="friend : ${friends}"><img th:src="'http://graph.facebook.com/' + ${friend.id} + '/picture'"
                                               align="middle"/><span th:text="${friend.name}">name</span></li>
    </ul>
</div>-->


</body>
</html>